<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="{{ 'https://git.myndex.com/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ 'https://git.myndex.com/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

{% seo %}

{% include head-custom.html %}

<style>
ul li ul li, ul li ul li ul li {
margin: 0 auto;
}
ul li ul li ul li {
font-size: 0.94em;
}
</style>
</head>

<!-- BEGIN BODY -->
<!-- BEGIN BODY -->
<!-- BEGIN BODY -->

<body>

<main class="wrapper">

  <header class="headBanner">
    <h1 class="bglite">{{ site.title | default: site.github.repository_name }}</h1>
    <div class="perceptex flr">
      <div class="he1">MYNDEX</div>
      <div class="he2">RESEARCH</div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100" height="100" viewBox="0 0 200 200"  preserveAspectRatio="xMidYMid meet" id="svg16">
 <g transform="translate(-5,200) scale(0.12,-0.12)" fill="var(--modeBGwrapper)" stroke="var(--modeMyndex)" stroke-width="30" id="g14">
    <path d="m 215,1562 c 6,-6 100,-76 210,-157 110,-81 225.49761,-166.3892 229.49761,-170.3892 C 654.49761,1234.6108 607,1208 566,1165 509,1107 479,1066 447,1002 406,919 400.2413,876.72351 398.20688,820.20688 c 1,-62.55143 8.96559,-106 27.79312,-157.20688 35,-83 90,-164 166,-244 l 66.96558,-65.41376 C 645.36605,341.57523 537.35023,272.49988 479,228 c -5,-5 125,57 290,138 165,80 423,207 574,280 257.8968,135.2761 258.3147,136.16196 258.3147,136.16196 C 1381.1925,909.05305 991.97797,1132.2799 709,1290 205,1572 195,1577 209,1562 Z M 984,991 1271,778 1238,755 C 1220,742 1086,649 940,547 794,445 662.62773,356.41978 662.62773,356.41978 645.64197,379.03424 593,503 571,572 l -23,68 21,28 c 48,68 53,201 10,289 -13,27 -23.70891,38.53158 -23.70891,38.53158 23.4576,83.20332 54.64201,166.80322 102.80797,237.06452 C 668.09906,1225.5961 826,1109 984,991 Z" id="path10" />
    <path d="M 655.7706,1078.0735 C 737.7706,906.0735 737,733 665,590 c -14,-28 -24,-54 -22,-56 89.4209,57.25403 143.30997,192.37044 146,294 -2.25581,126.4781 -91.73703,247.6678 -153.2294,290.0735 z" id="path12" />
  </g>
</svg>

    </div>
    <h1 style=""><a class="" href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
  <a class="myndexButton buttonRow top" href="/">⇦ HOME</a>  <a class="myndexButton buttonRow top" href="./">⇧ UP ONE</a>
  </header>
<br>
<hr>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}

      <span class="banner-fix"></span>

      <section id="main_content">
        {{ content }}
      </section>
  <a class="myndexButton buttonRow top" href="/">⇦ HOME</a>  <a class="myndexButton buttonRow top" href="./">⇧ UP ONE</a>

      <footer>
            {% if site.github.is_project_page %}
              <p>this project by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
            {% if site.github.is_user_page %}
              <p>Projects by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}

        <p>Generated with <a href="https://pages.github.com">GitHub Pages</a></p>
        <p class="copyright">Copyright © 2022 by Myndex Perception Research. All Rights Reserved.</p>
        <span class="octocat"></span>
      </footer>
    </main>
  </body>
</html>
